:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #32323b;
  --gray-700: #292924;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

* ::-moz-selection {
  color: var(--gray-900);
  background-color: var(--green-300);
}
* ::selection {
  color: var(--gray-900);
  background-color: var(--green-300);
}
* ::-webkit-scrollbar {
  width: 0.9rem;
}
* ::-webkit-scrollbar-track {
  background: var(--gray-700);
}
* ::-webkit-scrollbar-thumb {
  background-color: var(--green-300);
  border-radius: 7px;
  border: 3px solid var(--gray-700);
}

@media (max-width: 768px) {
  html {
    font-size: 57.5%;
  }
}
